<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="SupplierPortalAPI" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>

    <defaultDocument>
      <files>
        <add value="app.js" />
      </files>
    </defaultDocument>

    <iisnode nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" loggingEnabled="true" devErrorsEnabled="true" />

  </system.webServer>
</configuration>